@use "sass:math";

@font-face {
    font-family: "Fine dining";
    src: url(../assets/AlexBrush-Regular.ttf);
}

@font-face {
    font-family: "Stars";
    src: url(../assets/CalligraphyFLF.ttf);
}

$theme-colour: rgba(238, 255, 0, 1);
$footer-colour: rgba(0, 0, 0, 0.5);
$header-height: 10vh;
$footer-height: math.div($header-height, 2);

@mixin size($width, $height) {
    min-width: $width;
    min-height: $height;
}

@mixin box-control($margin, $padding: $margin) {
    margin: $margin;
    padding: $padding;
}

@mixin flex($direction: row, $align-items: flex-start, $justify-content: flex-start) {
    display: flex;
    flex-direction: $direction;
    align-items: $align-items;
    justify-content: $justify-content;
};

body {
    @include size(100vw, 100vh);
    color: $theme-colour;
}

#content {
    @include size(100vw, 100vh);
    background-image: url(../assets/wallpaper2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    @include flex(column);
}

header {
    @include box-control(0, 10px);
    @include size(100%, $header-height);

    h1 {
        @include box-control(0);
        font-family: "Stars", "Helvetica Neue", Helvetica, Arial;
    }
}

main {
    $main-height: 100vh - ($header-height + $footer-height);
    @include size(100%, $main-height);
    @include flex(column, center, center);

    >p:first-of-type {
        font-family: "Fine dining", 'Times New Roman', Times, serif;
        font-size: calc(30px + 7vw);
        text-align: center;
    }
}

footer {
    @include size(100%, $footer-height);
    @include box-control(0, 5px);
    @include flex($align-items: center, $justify-content: center);
    background-color: $footer-colour;

    a {
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        white-space: pre;

        &:hover {
            color: rgb(255, 0, 255)
        }
    }
}